<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title> <%= siteTitle %> - <%= pageTitle %></title>
    <% include partials/templates/head.ejs %>
</head>

<body id="<%= pageID %>">
  <% include partials/templates/header.ejs %>

  <div class="container">
    <h2>Reach out to us!</h2>
    <p><strong>Address:</strong> 1600 Pennsylvania Avenue NW Washington, D.C. 20500 U.S.</p>
    <p><strong>Phone:</strong> (555) 555-5555</p>
  </div>

  <% include partials/templates/footer.ejs %>
  <% include partials/templates/jsdefaults.ejs %>
</body>

</html>
