<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= siteTitle %> - <%= pageTitle %></title>
    <% include partials/templates/head.ejs %>
  </head>
  <body id="<%= pageID %>">
    <% include partials/templates/header.ejs %>

<!-- Some loco stuff man -->
    <div id="carousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#carousel" data-slide-to="0" class="active"></li>
        <li data-target="#carousel" data-slide-to="1"></li>
        <li data-target="#carousel" data-slide-to="2"></li>
        <li data-target="#carousel" data-slide-to="3"></li>
        <li data-target="#carousel" data-slide-to="4"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">

        <!-- Slide One -->
        <div class="item active">
          <img src="https://placehold.it/1200x400?text=IMAGE" alt="Place Holder Image #1">
          <div class="carousel-caption">
            <h3>Character 1</h3>
            <p>Some kind of description</p>
          </div>
        </div>
        <!-- Slide Two -->
        <div class="item">
          <img src="https://placehold.it/1200x400?text=IMAGE" alt="Place Holder Image #2">
          <div class="carousel-caption">
            <h3>Character 2</h3>
            <p>Some kind of description</p>
          </div>
        </div>
        <!-- Slide Three -->
        <div class="item">
          <img src="https://placehold.it/1200x400?text=IMAGE" alt="Place Holder Image #3">
          <div class="carousel-caption">
            <h3>Somethin cool</h3>
            <p>Needs more horsepower</p>
          </div>
        </div>
        <!-- Slide Four -->
        <div class="item">
          <img src="https://placehold.it/1200x400?text=Anything Really..." alt="Place Holder Image #4">
          <div class="carousel-caption">
            <h3>Maybe a Unicorn</h3>
            <p>Some kind of description</p>
          </div>
        </div>
        <!-- Slide Five -->
        <div class="item">
          <img src="https://placehold.it/1200x400?text=IMAGE" alt="Place Holder Image #5">
          <div class="carousel-caption">
            <h3>Another Placeholder</h3>
            <p>Some kind of description</p>
          </div>
        </div>

      </div>

      <a class="left carousel-control" href="#carousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#carousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>

    <div class="container text-center">
    <h3>What is RoundTable?</h3><br>
    <div class="row">
      <div class="col-sm-4">
        <img src="https://placehold.it/150x80?text=Model" class="img-responsive" style="width:100%" alt="A mother holding her cute baby.">
        <p>Something eye catching.</p>
      </div>
      <div class="col-sm-4">
        <img src="https://placehold.it/150x80?text=Van Candy" class="img-responsive" style="width:100%" alt="Some yummy chocolate.">
        <p>Something pretty.</p>
      </div>
      <div class="col-sm-4">
        <div class="well">
         <p>Chat</p>
        </div>
        <div class="well">
         <p>Join a room</p>
        </div>
      </div>
    </div>
    </div><br>

    <% include partials/templates/footer.ejs %>
    <% include partials/templates/jsdefaults.ejs %>
  </body>
</html>
